<div class="container">
  <div class="row">
    <div class="col">
      <p style="color: green"><%= notice %></p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= render @user %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div>
        <%= link_to "Edit", edit_user_path(@user), class: "btn btn-warning" %>
        <%= link_to "Back", users_path, class: "btn btn-info" %>
        <%= button_to "Delete", @user, method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger mt-4" %>
      </div>
    </div>
  </div>
</div>
